/*
*TEMA = constants : (colores, estilos, fuentes) 
*/

//font
$font1: 'Poppins',
sans-serif;
$font2: 'Lora',
serif;
//color
// Palette URL: http://paletton.com/#uid=1540u0kllllaFw0g0qFqFg0w0aF */
// As hex codes */
$color-primary-0: #802B67; // Main Primary color */
$color-primary-1: #C180AD;
$color-primary-2: #44887B; //#009688;//#A15088;
$color-primary-3: #601048;
$color-primary-4: #40002D;
// As RGBa codes */
$rgba-primary-0: rgba(128, 43, 103, 1); // Main Primary color */
$rgba-primary-1: rgba(193, 128, 173, 1);
$rgba-primary-2: rgba(161, 80, 136, 1);
$rgba-primary-3: rgba( 96, 16, 72, 1);
$rgba-primary-4: rgba( 64, 0, 45, 1);
//color text
$text-color:grey;
//font size
$font-size-large:1.6em;
$font-size-medium:1.4em;
$font-size-small:1.2em;
$font-size-small-x:0.9em;

/*
*MODULOS = (botones, iconos, widget):varibles mixin..extend...
*/

.box {
    padding-left: 0;
    padding-right: 0;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(black, 0.4);
}

.subTitle {
    padding: 15px;
    h2 {
        font-size: $font-size-large*1.4;
        margin-left: 10px;
    }
}

.barIntro {
    padding: 1px;
    color: white;
    text-align: center;
    font-size: $font-size-large;
    background-color: rgba($color-primary-2, 0.8);
    border-radius: 10px;
}


/*
*ESTADOS = accion a un evento de javascript: .is-hide/.is-show
*/


/*
* BASE= (inicializar elementos):elementos html
*/

body {
    font-size: 1em;
    font-family: $font1;
    color: $text-color;
    background-color: rgba($color-primary-4, 0.1s);
}

i {
    color: $color-primary-2;
    margin-top: 10px;
}

hr {
    width: 90%;
    margin: 5px 0;
}

h2 {
    display: inline-block;
}


/*
*LAYOUT= maquetacion :style
*/

.row {
    margin-top: 15px;
    margin-bottom: 15px;
}

.left {
    text-transform: capitalize;
    @extend .box;
    &-image {
        position: relative;
        .name {
            font-size: $font-size-large*1.8;
            padding: 0 30px 90px 0;
            color: white;
            text-shadow: 1px 1px 3px rgba(black, 0.6);
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    &-data {
        font-size: $font-size-large*1.2;
        text-transform: capitalize;
        padding: 15px;
        &-item {
            display: inline-block;
            margin-left: 10px;
            &:nth-child(8) {
                text-transform: lowercase;
            }
        }
    }
    &-skill {
        @extend .subTitle;
        &-item {
            h3 {
                font-size: $font-size-large;
            }
            &:nth-child(2) {
                .barUnder {
                    background-color: rgba(grey, 0.4);
                    border-radius: 10px;
                    .barOn {
                        @extend .barIntro;
                        width: 90%;
                    }
                }
            }
            &:nth-child(3) {
                .barUnder {
                    background-color: rgba(grey, 0.4);
                    border-radius: 10px;
                    .barOn {
                        @extend .barIntro;
                        width: 85%;
                    }
                }
            }
            &:nth-child(4) {
                .barUnder {
                    background-color: rgba(grey, 0.4);
                    border-radius: 10px;
                    .barOn {
                        @extend .barIntro;
                        width: 70%;
                    }
                }
            }
            &:nth-child(5) {
                .barUnder {
                    background-color: rgba(grey, 0.4);
                    border-radius: 10px;
                    .barOn {
                        @extend .barIntro;
                        width: 60%;
                    }
                }
            }
            &:nth-child(6) {
                .barUnder {
                    background-color: rgba(grey, 0.4);
                    border-radius: 10px;
                    .barOn {
                        @extend .barIntro;
                        width: 60%;
                    }
                }
            }
            &:nth-child(7) {
                .barUnder {
                    background-color: rgba(grey, 0.4);
                    border-radius: 10px;
                    .barOn {
                        @extend .barIntro;
                        width: 50%;
                    }
                }
            }
            &:nth-child(8) {
                .barUnder {
                    background-color: rgba(grey, 0.4);
                    border-radius: 10px;
                    .barOn {
                        @extend .barIntro;
                        width: 45%;
                    }
                }
            }
        }
    }
    &-language {
        @extend .subTitle;
        &-item {
            h3 {
                font-size: $font-size-large*1.1;
            }
            p {
                padding: 5px;
                margin-left: 20px;
                font-size: $font-size-large;
            }
        }
    }
    &-soft {
        @extend .subTitle;
        &-list {
            margin-top: 10px;
            font-size: $font-size-large;
        }
    }
    &-social {
        @extend .subTitle;
        &-link {
            font-size: $font-size-large*1.2;
            display: flex;
            justify-content: center;
            a {
                margin: 10px 15px;
                & i:hover {
                    color: $color-primary-1;
                }
            }
        }
    }
}

.rigth {
    @extend .box;
    padding: 20px 60px;
    font-size: $font-size-small;
    &-title {
        padding: 5px;
        text-transform: capitalize;
        display: inline-flex;
        h1 {
            margin-left: 20px;
           
        }
         @media screen and (max-width: 650px) {
                font-size: $font-size-small-x*0.8;
                h1{
                    font-size: $font-size-large*2;
                }
            }
    }
    &-exp {
        padding: 0 10px;
        h2{
            font-size: $font-size-large*1.5;
        }
        &-date {
            color: $color-primary-2;
            span {
                font-size: $font-size-large;
                margin-left: 10px;
            }
        }
        &-text {
            font-size: $font-size-medium;
        }
        details {
            font-size: $font-size-medium;
        }
        &-country {
            font-size: $font-size-medium;
            &::before {
                margin: 0 15px;
                font-size: $font-size-medium;
                content: "|";
            }
        }
    }
    &-list {
        margin-left: 10px;
        font-size: $font-size-large;
        ul li::first-letter {
            text-transform: uppercase;
        }
    }
    &:nth-child(1) {
        @media screen and (max-width: 650px) {
            margin-top: 20px;
            font-size: $font-size-small-x;
            padding: 5px;
        }
    }
    &:nth-child(2) {
        margin-top: 20px;
        @media screen and (max-width: 650px) {
            margin-top: 20px;
            font-size: $font-size-small-x;
            padding: 5px;
        }
    }
}

.container-fluid .footer {
    border-radius: 0px;
    background-color: $color-primary-2;
    height: 50px;
    display: flex;
    justify-content: center;
    &-text {
        color: #fff;
        line-height: 50px;
        font-size: $font-size-large;
        .fa-copyright {
            color: white;
            margin: 0 5px 0 10px;
            ;
        }
    }
}